<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width-device-width, intial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Astronomer's Guide</title>
  <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1200px-NGC_4414_%28NASA-med%29.jpg">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Neucha|Press+Start+2P|Vast+Shadow" rel="stylesheet">
</head>
<body>