<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width-device-width, intial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Moon Phase</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Monofett|Press+Start+2P" rel="stylesheet">
</head>
<body style="background-image:url(https://media.giphy.com/media/xUA7b7nNgbuprWGNkQ/giphy.gif);background-size:100%130%">