<%# views/moon/new %>

<h1>Create a Date</h1>

<form action="/moon" method="POST">
  <label for="date">DATE</label>
  <input id="date" type="text" name="date" />

  <br />

  <input type="submit" name="Create the Date!" />
</form>

<a href="/moon">Cancel</a>
