<%# views/moon/new %>
<%- include ../partials/editplate %>

<h1>Create a Date and Time</h1>
<h2>new.ejs</h2>

<form action="/moon" method="POST">
  <label for="date">Date: </label>
  <input id="date" type="text" name="date" />

  <br />
  <br />

  <label for="time">Time: </label>
  <input id="time" type="text" name="time" />

  <br />
  <br />

  <label for="imageurl">ImageURL: </label>
  <input id="imageurl" type="url" name="imageurl" style="width: 390px;" value="http://api.usno.navy.mil/imagery/moon.png?date=DATE&time=TIME" />

  <p>Attention stargazers, to render an image, where it says DATE (between the '=' '&') enter the date in MM/DD/YYYY format. Where it says TIME (between the '=' and ending ") enter the time in HH:MM format, so if the time is 4 pm, enter 04:00 PM.</p>

  <br />


<input type="submit" name="Create the Date!" />
</form>

<br />

<a href="/moon">Cancel</a>

<%- include ../partials/end %>