<%# views/moon/new %>
<%- include ../partials/editplate %>

<div id="media">
<h1>Enter your Destination:</h1>


<form action="/moon" method="POST">
  <label for="date">Date: </label>
  <input id="date" type="text" name="date" />

  <br />
  <br />

  <label for="time">Time: </label>
  <input id="time" type="text" name="time" />

  <br />
  <br />
  <br />
<!-- <%# select a new planetary body %> -->
<label for="body_id">Planetary Body:</label>
<select id="body_id" name="body_id">
  <% body.forEach(body => { %>
    <option value="<%= body.id %>">
      <%= `${body.bodies}` %>
    </option>
    <% }) %>
</select>
<br />
<br />
<input type="submit" name="Create the Date!" />
<br />
</form>
<br />

<a href="/moon">Cancel</a>
</div>
<%- include ../partials/end %>