<%# views/moon/new %>
<%- include ../partials/editplate %>

<h1>Create a Date and Time</h1>
<h2>new.ejs</h2>

<form action="/moon" method="POST">
  <label for="date">Date: </label>
  <input id="date" type="text" name="date" />

  <br />
  <br />

  <label for="time">Time: </label>
  <input id="time" type="text" name="time" />

  <br />
  <br />
  <br />

<input type="submit" name="Create the Date!" />
</form>

<label for="body_id">Planety Body:</label>
<select id="body_id" name="body_id">
  <% bodyinfo.forEach(body => { %>
    <option value="<% bodyinfo.id %>">
      <%= `${body.bodies} ${body.description}` %>
    </option>
  <% }) %>
</select>

<br />

<a href="/moon">Cancel</a>

<%- include ../partials/end %>