body {
  background-image: url("https://media.giphy.com/media/zWUxIwTyqHiko/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #800000;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px black;
  font-size: 40px;
  padding: 5px;
  margin-left: 25px;
}

h2 {
  color: lightblue;
  font-family: 'Faster One', cursive;
}

table, th, td {
    margin: 10px;
    border: 1.5px solid #783535;
    border-collapse: collapse;
    margin: 15px;
    text-shadow: 2px 1px black;
}

th, td {
  font-family: 'Julius Sans One', sans-serif;
  color: #800000;
  padding: 20px;
}

td {
  font-size: 20px;
}

th {
  text-align: left;
}

label {
  font-family: 'Vast Shadow', cursive;
  color: #008080;
}

img {
  width: 100%;
  transform: scale(1.58);
}

/*img {
  height: 500px;
  width: 40%;
}*/

a {
  font-family: 'Julius Sans One', sans-serif;
}
a:visited{
  color: #808000;
}

a:hover {
  color: #05377b;
}

#add {
  font-size: 28px;
  color: #b42e7f;
  text-shadow: 2px 2px black;
}

#image {
  /*background-color: grey;*/
  overflow: hidden;
  width: 50%;
  border-radius: 50%;
}

#add:visited{
  color: #808000;
}

#add:hover{
  color: #05377b;
}

#description {
  font-family: 'Vast Shadow', cursive;
  width: 30%;
  text-shadow: 2px 2px black;
  color: #a0a9cc;
  font-size: 18px;
  margin: 15px;
}

#title {
  font-family: 'Bungee Inline', cursive;
  font-size: 22px;
  text-shadow: 2px 2px black;
  color: #800000;
  margin: 5px;
  padding: 15px;
}

input[type=text] {
    width: 20%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
    body {
      background-image: none;
      background-color: grey;
    }

    #media {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

}